services:
    web:
        image: nginx:alpine
        depends_on: [ php ]
        ports:
            - "80:80"
        volumes:
            - ./:/app
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro

    php:
        build: .
        environment:
            APP_ENV: dev
            COMPOSER_ALLOW_SUPERUSER: "1"
        volumes:
            - ./:/app
        working_dir: /app

    ollama:
        image: ollama/ollama:latest
        ports:
            - "11434:11434"
        volumes:
            - ollama:/root/.ollama
        healthcheck:
            test: [ "CMD", "ollama", "list" ]
            interval: 10s
            timeout: 5s
            retries: 5

    database:
        image: postgres:${POSTGRES_VERSION:-16}-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-app}
            # You should definitely change the password in production
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
            POSTGRES_USER: ${POSTGRES_USER:-app}
        healthcheck:
            test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - database_data:/var/lib/postgresql/data:rw
            # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
            # - ./docker/db/data:/var/lib/postgresql/data:rw

    chrome:
        image: browserless/chrome:latest
        environment:
            - SCREEN_WIDTH=1280
            - SCREEN_HEIGHT=800
            - SCREEN_DEPTH=24
        ports: [ "3000:3000" ]

volumes:
    ollama: { }
    database_data:
